<div>
    <div class="ps-title-bar">
        <div class="row">
            <div class="ps-logo-area col-sm-6">
                <!--logo图片-->
                <img class="ps-icon" src="{{logoImg}}">
                <!--app名称-->
                <div class="ps-title-area">
                    <!--主标题-->
                    <div class="ps-logo-title">{{appTitle}}</div>
                    <!--次要标题-->
                    <div class="ps-logo-subtitle">{{subTitle}}</div>
                </div>
                <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="ps-collapsed-menu pull-right">
                    <button type="button" class="btn br-nav-button">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </div>
            </div>
            <div class="ps-right-side-controls col-sm-6">
                <div>
                    <button class="btn btn-primary">button1</button>
                    <button class="btn btn-success">button2</button>
                    <button class="btn btn-warning" ng-click="quitSys();">退出登录</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-transclude  ng-if="isMenuVisible"></div>
    <div ng-include="routePath" class="br-view" ng-class="{'br-view-full-width':!isVertical()}">

    </div>
</div>

