.tea-stumgr-page{
    cursor: pointer;
}

.tea-stumgr-page:hover{
    color: blue;
}

.tea-stumgr-delete{
    font-weight: bold;
    color:red;
}

.tea-stu-info{
    font-size: 20px;
    font-weight: bold;
    margin-left:30%;
    position: relative;
}

.tea-stu-info>p{
    margin-top:25px;
}

.tea-stu-info-pic{
    position: absolute;
    top: -20px;
    left: 40%;
}